.git
.github

**/node_modules
**/.env
**/.env*

**/.yaak
**/src/tests

backend/.dockerignore
backend/.gitignore
backend/docker-compose*
backend/Makefile
backend/README.md
backend/*.md
frontend/README.md
frontend/*.md
