# app
CORS_ORIGINS="http://localhost:3000"
FRONTEND_URL="http://localhost:3000"
LEGACY_API_BASE_URL="http://localhost:8787"
ENABLE_LEGACY_SHARE_HISTORY_PROXY="false"
INGEST_JSON_DATA_REPO="Kamalisk/arkhamdb-json-data@master"
INGEST_METADATA_REPO="arkham-build/arkhamlcg-metadata@main"
INGEST_TABOO_DATA_REPO="zzorba/arkham-cards-data@master"
INGEST_URL_ARKHAMDB_DECKLISTS="<ask>"
METADATA_LOCALES="de,en,es,fr,it,ko,pl,ru,uk,zh,zh-cn"
NODE_ENV="development"
PORT="8686"
SESSION_SECRET="<32-character-minimum-secret-key>"

# db
POSTGRES_DB="api-arkham-build"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"

# smtp (mailcrab for local development)
FROM_EMAIL="noreply@arkham-build.local"
SMTP_HOST="127.0.0.1"
SMTP_PASS=""
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER=""

# migrate
DATABASE_URL="postgres://postgres:postgres@localhost:5432/api-arkham-build?sslmode=disable"
DBMATE_MIGRATIONS_DIR="src/db/migrations"
DBMATE_SCHEMA_FILE="src/db/schema.sql"

# oauth
ARKHAMDB_BASE_URL="http://localhost:8000"
ARKHAMDB_OAUTH_CLIENT_ID=""
ARKHAMDB_OAUTH_CLIENT_SECRET=""
ARKHAMDB_OAUTH_REDIRECT_URI="http://localhost:8686/auth/arkhamdb/callback"

# captcha. leave empty to disable
# see: https://developers.cloudflare.com/turnstile/troubleshooting/testing/#test-secret-keys
TURNSTILE_SECRET_KEY=""

# admin
ADMIN_API_KEY="admin_key"
