# app
CORS_ORIGINS="http://localhost:3000"
INGEST_JSON_DATA_REPO="Kamalisk/arkhamdb-json-data@master"
INGEST_TABOO_DATA_REPO="zzorba/arkham-cards-data@master"
INGEST_URL_ARKHAMDB_DECKLISTS="<ask>"
METADATA_LOCALES="de,en,es,fr,it,ko,pl,ru,uk,zh,zh-cn"
NODE_ENV="development"
PORT="8686"

# db
POSTGRES_DB="api-arkham-build"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"

# migrate
DATABASE_URL="postgres://postgres:postgres@localhost:5432/api-arkham-build?sslmode=disable"
DBMATE_MIGRATIONS_DIR="src/db/migrations"
DBMATE_SCHEMA_FILE="src/db/schema.sql"

# admin
ADMIN_API_KEY="admin_key"
