.chapter-tabs {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 0.75rem;
  background-color: var(--palette-0);
}

.chapter-tabs-item {
  padding-block: 0.5rem;
}

.format-toggle {
  margin-bottom: 0.75rem;
  text-align: center;
}

.tree {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  gap: 0.25rem;
  min-height: 0;
  padding-bottom: 0.25rem;
  position: relative;
  font-size: var(--text-sm);
}

.node {
  margin-left: calc(var(--depth, 0) * 0.5rem);
}

.node.depth-0 {
  margin-inline: 0.625rem;
}

.node.depth-1 {
  border-bottom: 1px solid var(--palette-3);
}

.node.depth-3 {
  font-size: var(--text-xs);
  border-left: 1px solid var(--palette-1);
}

.node-icon {
  color: var(--palette-4);
}

.node-link {
  display: block;
  color: currentColor;
  text-decoration: none;
  padding: 0.625rem;
  background-color: var(--palette-0);

  & :first-child {
    margin-right: 0.375rem;
  }
}

.node.active > .node-link {
  font-weight: 700;
  background-color: var(--palette-1);
}

.node-link:hover:not(:has(.node:hover)) {
  background-color: var(--palette-point-five);
}

.node-link:hover:not(:has(.node:hover)),
.node.active {
  & .node-icon {
    color: var(--text);
  }
}

.children {
  list-style: none;
}
