.list-container {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.list-item {
  flex: 1;
  min-width: 0;
}

.draft-weakness {
  width: 100%;
  height: 100%;
  display: flex;
}