.h3 {
  margin-bottom: 1rem;
}

.p {
  margin: 1rem 0;
}

.card-container {
  position: relative;
  transition: transform 0.2s ease;
}

.title-container {
  display: flex;
  margin: 0.5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title-container span {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.25rem;
  font-size: 1rem;
}

.list-container {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 1.15rem 0;
}

.card-container {
  position: relative;
  will-change: transform;
}

.overlay {
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.list-item {
  flex: 1;
  min-width: 0;
  position: relative;
}

.card-container:hover {
  cursor: pointer;
  transform: translateY(-0.6rem);
  transition: transform 0.2s ease;
}

.list-item.selected .card-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 0.75rem;
  background: #f53c3cdd;
  border-radius: 0.5rem;
  transform: translateY(-50%) rotate(50deg);
  z-index: 2;
}

.list-item.selected .card-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 0.75rem;
  background: #f53c3cdd;
  border-radius: 0.5rem;
  transform: translateY(-50%) rotate(-50deg);
  z-index: 2;
}

.draft-weakness {
  width: 100%;
  height: 100%;
  display: flex;
}