.quantity {
  flex: 0 0 auto;
  font-size: var(--text-xs);
  font-weight: 400;
  white-space: nowrap;
}

.title {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

.title-icon {
  flex: 0 0 auto;
  font-size: 1.125em;
  height: 1.125em;
  width: 1.125em;
  object-fit: contain;
}
