.tag-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  line-height: 1.25;
  border: 1px solid transparent;

  &.local {
    border: 1px solid var(--palette-3);
  }
}

.favorite-icon {
  fill: var(--accent-color, var(--nord-9));
  stroke: var(--accent-color, var(--nord-9));
}
