.container {
  position: relative;
  z-index: 3;

  @media screen and (min-width: 45rem) {
    padding-inline: var(--scrollbar-padding);
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.375rem;
}

.row > * {
  flex: 0 0 auto;
}

.row > .field {
  flex: 1 1 auto;
  width: 100%;
}

.field {
  position: relative;
}

.field-input {
  width: 100%;
}

.flags {
  background: var(--palette-1);
  border-radius: var(--rounded);
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  gap: 0.5rem;
  left: 0;
  padding: 0.5rem 0.375rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.container:focus-within .flags {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

@media (hover: hover) and (pointer: fine) {
  .container:hover .flags {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

@media screen and (min-height: 50rem) {
  .container:not(.force-hover) .flags {
    background: inherit;
    opacity: 1;
    pointer-events: auto;
    position: initial;
    visibility: visible;
    top: unset;
    left: unset;
    padding: 0.375rem 0.125rem 0;
  }

  .container:not(.force-hover) .flags-slot {
    display: none;
  }
}

.buildql-tag {
  opacity: 0.4;
  cursor: help;
  text-decoration: none;
  vertical-align: center;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
    }
  }

  &.active {
    opacity: 1;
  }
}

.buildql-input-tag {
  display: none;

  @media screen and (min-width: 28rem) {
    display: block;
  }
}

.buildql-flags-tag {
  display: block;

  @media screen and (min-width: 28rem) {
    display: none;
  }
}

.share-settings {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.375rem;
  min-width: 15rem;
}
