.card-list-item-full {
  padding-block: 0.5rem;
}

.favorite {
  position: relative;
  &::before {
    content: "";
    height: 80%;
    width: 0;
    border-left: 0.125rem solid var(--accent-color, var(--survivor));
    display: block;
    top: 10%;
    right: -0.375rem;
    position: absolute;
    border-radius: var(--rounded-xl);
  }
}
