.layout-inner {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
  margin-inline: auto;
  max-width: var(--layout-max-width);
  padding-top: var(--safe-area-top);
  padding-right: max(var(--layout-padding), var(--safe-area-right));
  padding-bottom: calc(0.5rem + var(--safe-area-bottom));
  padding-left: max(var(--layout-padding), var(--safe-area-left));
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  padding-top: 0.5rem;
  flex: 0 0 auto;
}
