.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(2rem + var(--safe-area-bottom));
  padding-right: var(--safe-area-right);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 2;
}

.banner a {
  color: currentColor;
}
