.details {
  border: 1px solid var(--palette-1);
  border-radius: var(--rounded);
  background-color: var(--palette-point-five);
}

.details > * + * {
  margin-top: 0.5rem;
}

.details summary::-webkit-details-marker {
  visibility: hidden;
}

.details summary > * {
  pointer-events: none;
}

.details-content.scrollable {
  height: var(--scroll-height);
}
