.plane {
  border-radius: var(--rounded);
  border: 1px solid var(--palette-1);
  background-color: var(--palette-point-five);
}

.plane:not(.none) {
  padding: 0.75rem;
}

.plane:not(.none).sm {
  padding: 0.5rem;
}
