.scroller {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow-y: auto;
}

@supports selector(::-webkit-scrollbar) {
  .viewport {
    padding-right: calc(var(--scrollbar-padding) - 6px);
  }

  .viewport-always {
    overflow-y: scroll;
  }

  .viewport::-webkit-scrollbar {
    background: var(--color-scrollbar);
    width: 6px;
  }

  .viewport::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: var(--rounded);
    z-index: 9999;
  }

  .viewport-hover {
    mask-image: linear-gradient(to left, transparent 6px, black 6px);
    transition: mask-image 300ms;

    &:hover {
      mask-image: linear-gradient(to left, black 6px, black 6px);
    }
  }
}

@supports (scrollbar-color: auto) {
  .viewport {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar);
    scrollbar-gutter: stable;
    padding-right: var(--scrollbar-padding);
  }

  .viewport-hover {
    scrollbar-color: transparent transparent;

    &:hover {
      scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar);
    }
  }
}
