.scenario-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  list-style: none;
  align-items: center;
}

.scenario-icon {
  display: inline-block;
  padding: 0 0.25rem;
  font-size: var(--icon-3xl);
  text-decoration: none;
  color: currentColor;
}
